@model SchoolSystem.Web.Models.Course

@{
  ViewBag.Title = "Student to check grades";
}

@section PageStyles
{
  <style>

  .dataTables_info {
    margin: 5px 20px;
  }

  .dataTables_paginate {
    margin: 20px;
  }

  .dataTables_paginate .previous, .dataTables_paginate .next {
    padding: 6px 12px;
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
    background-color: #eeeeef;
    border: 1px solid #eeeeef;
    border-radius: 5%;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }

  .dataTables_paginate .previous {
    margin-right: 5px;
  }

  .dataTables_paginate .next {
    margin-left: 5px;
  }

  span a.paginate_button {
    display: inline-block;
    padding: 6px 12px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    background-color: #eeeeef;
    border: 1px solid #eeeeef;
    border-radius: 50%;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
  }

  span a.paginate_button:hover {
    background-color: #9a9bd7;
    color: white;
  }

  span a.paginate_button.current {
    background-color: #8c57ff;
    color: white;
    font-weight: bold;
    border-color: #8c57ff;
  }

  span a.paginate_button:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.5);
  }

</style>
}


<div class="card">
  <div class="card-header border-bottom">
    <h6 class="card-title mb-0">All students in @Model.Name, search any student to view it's grades!</h6>
    @* Alerts and Toasts *@
    <partial name="_Toasts"/>
  </div>
  <div class="card-datatable table-responsive">
    <div id="DataTables_Table_0_wrapper"
         class="dataTables_wrapper dt-bootstrap5 no-footer">
      <div class="d-flex justify-content-between
gap-4 gap-md-0 gx-5 flex-wrap p-5 align-content-center" id="FilterOptions">
      </div>
      <table class="datatables-users table dataTable no-footer dtr-column w-100"
             id="UsersTable" aria-describedby="DataTables_Table_0_info"
             style="width: 849px;">
        <thead>
        <tr>
          <th class="control sorting_disabled dtr-hidden" rowspan="1"
              colspan="1" style="width: 4px; display: none;" aria-label="">
          </th>
          <th
            class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all"
            rowspan="1" colspan="1" style="width: 18px;" data-col="1"
            aria-label="">
            <input type="checkbox" class="form-check-input">
          </th>
          <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
              rowspan="1" colspan="1" style="width: 228px;"
              aria-label="User: activate to sort column ascending">
            Student
          </th>
          <th class="sorting sorting_desc" tabindex="0"
              aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
              style="width: 266px;"
              aria-label="Email: activate to sort column ascending"
              aria-sort="descending">
            Email
          </th>
          <th class="sorting_disabled" rowspan="1" colspan="1"
              style="width: 0px;" aria-label="Actions">
            Action
          </th>
        </tr>
        </thead>
        <tbody>
        @* Loop through the users and display them *@

        @foreach (var student in Model.Students)
        {
          <tr class="even">
            <td class="control dtr-hidden" tabindex="0"
                style="display: none;">
            </td>
            <td class="  dt-checkboxes-cell">
              <input type="checkbox" class="dt-checkboxes form-check-input">
            </td>
            <td>
              <div
                class="d-flex justify-content-start align-items-center user-name">
                <div class="d-flex flex-column">
                  <a href="javascript:;"
                     class="text-heading text-truncate">
                    <span class="fw-medium">@student.User.FirstName @student.User.LastName</span>
                  </a><small>@@@student.User.Email</small>
                </div>
              </div>
            </td>
            <td class="sorting_1">
              <span>@student.User.Email</span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#fullscreenModal"
                        data-author="@student.User.FirstName @student.User.LastName"
                        data-course="@Model.Id"
                        data-student="@student.Id"
                        class="btn btn-sm btn-text-secondary
                        btn-outline-primary waves-effect showGradeButton">
                  View grades
                </button>
              </div>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>

@* Show select user grades *@
<div class="modal fade" id="fullscreenModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <h5 class="card-header" id="caption">Your grades on @ViewBag.CourseName</h5>
          <div class="table-responsive text-nowrap">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Subject</th>
                <th>Expected Hours</th>
                <th>Absents(in hours)</th>
                <th>Grade</th>
                <th>Attendance</th>
                <th>Approval</th>
              </tr>
              </thead>
              <tbody id="tableBody">
              </tbody><tfoot class="table-border-bottom-0" id="tableFooter"></tfoot>
            </table>
          </div>
        </div>

        @* <table class="table caption-top table-hover"> *@
        @*   <caption id="caption"></caption> *@
        @*   <thead class="table-dark"> *@
        @*   <tr> *@
        @*     <th scope="col">#</th> *@
        @*     <th scope="col">Subject</th> *@
        @*     <th scope="col">Grade</th> *@
        @*     <th scope="col">Approval</th> *@
        @*   </tr> *@
        @*   </thead> *@
        @*   <tbody id="tableBody"> *@
        @*   $1$ Rows will be inserted here #1# *@
        @*   </tbody> *@
        @*   <tfoot class="table-light" id="tableFooter"> *@
        @*   <tr> *@
        @*    $1$ footer will be inserted here #1# *@
        @*   </tfoot> *@
        @* </table> *@
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary waves-effect"
                data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

@section PageScripts
{
  <script src="~/js/showGrade.js"></script>
  <!-- Load DataTables from CDN -->
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"
          defer></script>

  <script type="text/javascript" defer>
  $(document).ready(function() {
    // Initialize DataTable with Portuguese language support
    $('#UsersTable').DataTable({
      'language': {
        'url': '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json'
      },
      'aLengthMenu': [
        [10, 20, 50, 100, 200, -1],
        [10, 20, 50, 100, 200, 'Todos']
      ],
      // initComplete ensures this code runs after DataTable has fully initialized
      'initComplete': function() {
        console.log('DataTable initialization complete');

        // Remove the old filter element and replace it
        let toRemove = document.getElementById('UsersTable_filter');
        let container = document.getElementById('FilterOptions');

        if (toRemove && container) {
          toRemove.remove();

          toRemove.classList.add('col-md-4', 'd-flex', 'align-items-center');

          let label = toRemove.firstElementChild;
          label.firstElementChild.classList.add('form-control',
            'form-control-lg', 'form-control-borderless');
          label.firstElementChild.placeholder = 'Search student';
          label.removeChild(label.firstChild);
          label.firstElementChild.classList.remove('dataTables_filter');
          container.insertAdjacentElement('beforeend', toRemove);

          console.log('Replacement done successfully.');
        } else {
          console.error('Elements for replacement not found.');
        }

        let toMove = document.getElementById('UsersTable_length');

        if (toMove && container) {
          toMove.remove();
          toMove.classList.add('col-md-4', 'user_role', 'w-auto', "d-flex",
            "align-items-center");
          container.insertAdjacentElement('beforeend', toMove);
          console.log('Move done successfully.');
        } else {
          console.error('Elements for move not found.');
        }
      }
    });
  });
</script>
}
